*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
release
local.properties
.gradle/
build/
*/build/
.kotlin/
core/media/src/main/assets
sherpa-ncnn/
domain/bin
llama.cpp